<div class="row">
    <div [ngClass]="isSidePaneVisible? 'col-8':'col-12'" class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                       New products List
                    </div>
                    <div class="col-6 text-end">
                        <button (click)="openSidePanel()" class="btn btn-sm btn-success">new</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let product of productsList">
                        <div class="card" style="width:400px">
                            <img class="card-img-top" [src]="product.productImageUrl" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">{{product.productName}}</h4>
                              <p class="card-text">{{product.categoryName}}</p>
                              <a (click)="onEdit(product)" class="btn btn-primary">Edit</a>
                              <a (click)="onDelete(product)" class="btn btn-danger mx-2">Delete</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-4" *ngIf ="isSidePaneVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                       New products List
                    </div>
                    <div class="col-6 text-end">
                        <button (click)="closeSidepanel()" class="btn btn-sm btn-success">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input [(ngModel)]="productObj.productSku" type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input [(ngModel)]="productObj.productName" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input [(ngModel)]="productObj.productShortName" type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input [(ngModel)]="productObj.productPrice" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">category</label>
                        <select [(ngModel)]="productObj.categoryId" class="form-select" name="categoryId" required>
                            <option value="null" disabled>Select Category</option>
                            <option *ngFor="let cate of categoryList" [value]="cate.categoryId"> {{cate.categoryName}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time Span</label>
                        <input [(ngModel)]="productObj.deliveryTimeSpan" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Image Url</label>
                        <input [(ngModel)]="productObj.productImageUrl" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Product Description</label>
                        <textarea rows="4" [(ngModel)]="productObj.productDescription" type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <button class="btn btn-success  text-center">reest</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" *ngIf="productObj.productId ==0" (click)="onSave()">create Products</button>
                        <button class="btn btn-primary" *ngIf="productObj.productId !==0" (click)="onUpdate()">Update Products</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
